@import "~normalize.css";
@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

h3, .h3 {
	margin-bottom: 0.5em;
	font-size: 18px;
	font-weight: 500;
	&.no-margin {
		margin-bottom: 0;
	}
}

.df {
	display: flex;
}

.wmax {
	flex-grow: 1;
}

body {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	color: var(#{--font-color-default});
	background-color: var(#{--body-bg-default});
	overflow-x: hidden;
}

.wrapper {
	display: block;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1230px;
	width: 100%;
}

.main {
	padding-bottom: 20px;
}

.item-shape {
	position: relative;
	padding: 20px;
	box-shadow: $box-shadow;
	background-color: var(#{--components-bg-default});
	border-radius: $border-radius;
	overflow: hidden;
	&--top-border {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}


.card {
	display: inline-block;
	padding: 11px 11px 13px;
	font-size: 14px;
	color: $color-gray;
	background: rgba(71, 147, 255, 0.2);
	border-radius: 10px;
	&:hover {
		box-shadow: 0px 3px 20px rgba(147, 144, 144, 0.28);
	}
	&__img {
		display: block;
		margin: 15px 0;
		width: 48px;
		height: 48px;
	}
	h3, .h3 {
		color: var(#{--font-color-default});
	}
	span {
		display: inline-block;
		margin-top: 20px;
		text-transform: lowercase;
		&::first-letter {
			text-transform: uppercase;
		}
	}
}

.days-view {
	display: flex;
	gap: 20px;
	& > * {
		flex: 1 1;
	}
}

.tabs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
	margin-bottom: 10px;
	width: 100%;
	& > * {
		&:last-child {
			margin-left: auto;
		}
	}
}
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: auto;
	height: 35px;
	color: var(#{--font-color-default});
	background-color: var(#{--btn-bg-default});
	border-radius: 5px;
	box-shadow: $box-shadow;
	cursor: pointer;
	&:hover,
	&.active {
		color: $light-background;
		background-color: $color-decor;
	}
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: block;
	background-color: rgba($light-color, 0.4);
	z-index: 999;
	&__body {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__close-btn {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		transition: transform 0.3s ease-in-out;
		&:hover {
			transform: scale(1.3);
		}
	}
	&__close-img {
		display: block;
		width: 22px;
		height: 22px;
		pointer-events: none;
	}
}
