@import "../../styles/variables.scss";

.current-day {
	display: block;
	width: 100%;
	&__row {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 50px;
		& > * + * {
			margin-left: 50px;
		}
	}
	&__main {
		&--small {
			align-self: center;
			.current-day {
				&__current-temperature {
					font-size: 60px;
				}
				&__current-day {
					font-size: 20px;
				}
				&__current-img {
					margin-top: 24px;
					width: 48px;
					height: 48px;
				}
				&__location {
					font-size: 14px;
				}
			}
		}
	}
	&__current-temperature {
		font-weight: 500;
		font-size: 96px;
		color: $color-decor;
	}
	&__current-day {
		font-size: 40px;
	}
	&__current-img {
		display: block;
		width: 120px;
		height: 120px;
	}
	&__location {
		margin-top: 20px;
		font-size: 25px;
		font-weight: 400;
		color: $color-gray;
	}
	&__time, &__city {
		white-space: nowrap;
	}
	&__info {
		position: relative;
		padding: 20px 10px;
	}
	&__info-bg-img {
		position: absolute;
		top: -20px;
		right: -20px;
		z-index: 1;
	}
	&__info-box {
		position: relative;

		z-index: 2;
	}
	&__info-item {
		display: flex;
		align-items: center;
		margin-bottom: 24px;
		font-size: 14px;
		&:last-child {
			margin-bottom: 0;
		}
		& > * + * {
			margin-left: 20px;
		}
	}
	&__info-img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__info-title {
		min-width: 100px;
		color: $color-gray;
	}
}
